.main-work-sample {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 94%;
    padding: 0 3% 3%;

    .work-sample-haeder {
        border-radius: 16px;
        border: 1.5px solid #3A457D;
        background: #C2C38A;
        color: #3A457D;
        box-shadow: 4px 4px 0px 0px #3A457D;
        display: flex;
        padding: 7px 73px 7px 74px;
        justify-content: center;
        align-items: center;
    }

    .main-work-box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

        .box-container {
            width: 48%;
            margin-bottom: 50px;
            border-radius: 24px;
            border: 3px solid #3A457D;
            background: #FFF;
            box-shadow: 12px 10px 0px 0px #3A457D;

            .box-header {
                border-radius: 20px 20px 0px 0px;
                border-bottom: 3px solid #3A457D;
                background: #4E745F;
                color: #F1EAD8;
                margin: 0;
                padding: 15px;
                text-align: center;
                font-size: 25px;
            }

            .hamsaz {
                background-color: #FF864D !important;
                color: #3A457D !important;
            }

            .analysis {
                background-color: #A3C9CA !important;
                color: #3A457D !important;
            }

            .car {
                background-color: #C2C38A !important;
                color: #3A457D !important;
            }

            .yazd {
                background-color: #3A457D !important;
            }

            .freelance {
                background-color: #E7C39F !important;
                color: #3A457D !important;
            }

            .box-body {
                padding: 25px;
                display: flex;
                flex-direction: column;
                height: calc(100% - 112px);
                justify-content: space-between;

                a {
                    color: #2E96B7 !important;
                }

                a:link,
                a:visited {
                    color: #2E96B7 !important;
                }

                a:link:active,
                a:visited:active {
                    color: #2E96B7 !important;
                }

                a.is-active,
                a:active,
                a:focus,
                a:hover {
                    color: #2E96B7 !important;
                }

                p {
                    margin: 0;
                    color: #3A457D;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-transform: capitalize;
                }

                .bottom-section-box {
                    margin-top: 30px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    img {
                        width: 50%;
                        cursor: pointer;
                    }

                    p {
                        font-weight: 600;
                        width: 48%;
                    }
                }
            }

            .box-body-image {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
                margin-top: 20px;

                img {
                    width: 40%;
                    margin-bottom: 20px;
                    cursor: pointer;
                }
            }

            .box-body-text {
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 350px;

                p {
                    color: #3A457D;
                    font-size: 34px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    text-transform: capitalize;
                    text-align: center;
                }
            }
        }
    }
}

.modal-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;

    .modal-content {
        background-color: #fff;
        padding: 35px 20px 20px 35px;
        border-radius: 4px;
        animation-duration: 0.5s;
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 15px;

        .main-image {
            width: 100%;
            margin-top: -45px;
            margin-left: -10px;
            max-height: 800px;
        }

        .close {
            width: 35px;
            z-index: 99;
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .box-body {
        height: calc(100% - 142px) !important;
    }

    .bottom-section-box {
        margin-top: 15px;
        flex-direction: column-reverse !important;

        img {
            margin-bottom: 15px !important;
        }
    }

    .bottom-section-box>* {
        width: 100% !important;
    }

    .box-body-image {
        flex-direction: column !important;
        align-items: center !important;

        img {
            width: 55% !important;
        }
    }
}

@media only screen and (max-width: 700px) {
    .main-work-box {
        flex-direction: column !important;
        align-items: center !important;

        .work-sample-haeder {
            margin: 5% !important;
            font-size: 25px !important;
        }

        .box-container {
            width: 90% !important;
        }
    }
}