<div class="main-container">
    <div class="left-side">
        <p class="page-title">About Me</p>
        <p class="describe-me">
            Driven by a passion for design and user experience, I've spent the past 3 years exploring various design
            fields and honing my skills. During my university days, I combined my studies with my love for gaming by
            designing engaging social media posts for a game development studio. But I craved a deeper technical
            understanding, so I delved into website design and specialized in front-end development. Landing a role as a
            front-end developer allowed me to not only code user-friendly interfaces but also refine my problem-solving
            skills and implement improvements that drove positive resultsRecently, I discovered User Experience (UX)
            design, a perfect blend of my design passion and problem-solving expertise. I'm eager to leverage my skills
            to create intuitive and user-centric experiences that delight users and empower businesses. Let's connect
            and discuss how I can help you achieve your design goals!
        </p>
        <p class="birth-style">
            <img src="/assets/img/plant.svg" alt="plant">
            Born : Septamber - 2000
        </p>
    </div>
    <div class="right-side">
        <div class="main-image">
            <img class="white-star" src="/assets/img/white-star.svg" alt="white-star">
            <img class="my-image" src="/assets/img/minagln.png" alt="mina golshan">
        </div>
        <div class="contact-info">
            <div class="contact-box fake">
                <div class="contact-header fake"></div>
                <div class="contact-main"></div>
            </div>
            <div class="contact-box real">
                <div class="contact-header"></div>
                <div class="contact-main">
                    <a href="tel:+989135265421" class="main-info">
                        <img src="../../assets/img/phone.svg" alt="phone">
                        <p>+989135265421</p>
                    </a>
                    <a href="mailto:Golshan.mina97@gmail.com" class="main-info">
                        <img src="../../assets/img/email.svg" alt="email">
                        <p>Golshan.mina97@gmail.com</p>
                    </a>
                    <a href="https://www.linkedin.com/in/mina-golshan-a97024259/" class="main-info" target="_blank">
                        <img src="../../assets/img/linkedin.svg" alt="linkedin">
                        <p>Mina-Golshan</p>
                    </a>
                    <a href="https://dribbble.com/MinaGolshan/likes" class="main-info" target="_blank">
                        <img src="../../assets/img/dribble.svg" alt="dribble">
                        <p>Mina Golshan</p>
                    </a>
                    <a href="https://www.behance.net/minagln/moodboards" class="main-info" target="_blank">
                        <img src="../../assets/img/behance.svg" alt="behance">
                        <p>MinaGln</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-skills">
    <p class="page-title" style="margin-left: 1.5%;">Skills</p>
    <div class="skill-boxs">
        <div class="skill-continer">
            <div class="box-container">
                <div class="box-header green">
                    Technical Skills
                </div>
                <div class="box-main tech">
                    <li>User Research</li>
                    <li>Usability Testing</li>
                    <li>Agile</li>
                    <li>Prototyping</li>
                    <li>Wireframing</li>
                    <li>Journey Mapping</li>
                    <li>Visual Design</li>
                    <li>User-centered Design</li>
                    <li>Interaction Design</li>
                    <li>Empathy Maps</li>
                    <li>HTML&CSS</li>
                    <li>Web Development</li>
                </div>
            </div>
        </div>
        <div class="skill-continer">
            <div class="box-container">
                <div class="box-header orange">
                    Tools
                </div>
                <div class="box-main">
                    <li>Figma</li>
                    <li>Sketch</li>
                    <li>Balsamiq</li>
                    <li>Photoshop & Illustrator</li>
                    <li>Wordpress</li>
                    <li>Jira</li>
                    <li>Zeplin</li>
                </div>
            </div>
            <div class="box-container">
                <div class="box-header">
                    Soft Skills
                </div>
                <div class="box-main">
                    <li>TeamWork</li>
                    <li>Time Management</li>
                    <li>Problem Solving</li>
                    <li>Listening</li>
                    <li>Accountability</li>
                    <li>Creative Thinking</li>
                </div>
            </div>
        </div>
        <div class="skill-continer">
            <div class="box-container">
                <div class="box-header pink">
                    Personal Interests
                </div>
                <div class="box-main tech">
                    <li>Photography</li>
                    <li>Sketching</li>
                    <li>Playing Hangdrum</li>
                    <li>Reading Book</li>
                    <li>Listening to JazZ music</li>
                    <li>‌Baking Sweets & Cake</li>
                </div>
            </div>
            <div class="box-container">
                <div class="box-header dark-green">
                    Language
                </div>
                <div class="box-main tech">
                    <li>English <small>(Upper-Intermediate)</small></li>
                    <li>Persian <small>(Native)</small></li>
                </div>
            </div>
        </div>
    </div>
</div>