<div class="main-container">
  <div class="main-des">
    <div class="left-container">
      <div class="describe-me">
        <h1 class="heading-title">HELLO! I’m Mina Golshan- UI / UX Designer</h1>
        <p class="describe-style">
          With a background in web programming, I have recently embarked on the path of user experience design I am
          trying to create a better way for users to interact with digital products and Help people to deal with
          confusion about new digital world…
        </p>
      </div>
      <div class="my-experience">
        <a href="#me" class="show-more-detail about-me" (click)="changeStatus('me')">About Me</a>
        <a href="#work" class="show-more-detail my-work" (click)="changeStatus('work')">My Work</a>
        <a href="#edu" class="show-more-detail my-edu" (click)="changeStatus('edu')">My Education</a>
      </div>
    </div>
    <div class="right-container">
      <img class="image-mood" src="/assets/img/mood.png" alt="Mood">
    </div>
  </div>
</div>
<app-works *ngIf="detailMode === 'work'" id="work"></app-works>
<app-educations *ngIf="detailMode === 'edu'" id="edu"></app-educations>
<app-about-me *ngIf="detailMode === 'me'" id="me"></app-about-me>