.main-edu {
    display: flex;
    flex-direction: row;
    width: 94%;
    padding: 0 3% 3%;

    .left-edu {
        display: flex;
        flex-direction: column;
        width: 46%;
        align-items: flex-start;
        background-repeat: no-repeat;
        background-position: right center;

        .tilte-page {
            border-radius: 16px;
            border: 1.5px solid #3A457D;
            background: #4E745F;
            box-shadow: 4px 4px 0px 0px #3A457D;
            display: inline-flex;
            padding: 7px 56px;
            justify-content: center;
            align-items: center;
            color: #F1EAD8;
            font-family: Poppins;
            font-size: 30px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        .box-container {
            border-radius: 24px;
            border: 3px solid #3A457D;
            background: #FFF;
            box-shadow: 12px 10px 0px 0px #3A457D;
            width: 62%;
            margin-bottom: 40px;

            .box-header {
                color: #3A457D;
                font-family: Poppins;
                font-size: 30px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-radius: 20px 20px 0px 0px;
                border-bottom: 3px solid #3A457D;
                background: #A3C9CA;
                padding: 15px;
            }

            .box-main {
                border-radius: 24px;
                background: #FFF;
                color: #3A457D;
                font-family: Poppins;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                padding: 30px 50px;
                display: flex;
                flex-direction: column;
                align-content: center;
                align-items: center;

                p {
                    font-size: 18px;
                    font-weight: 600;
                }

                .time-work {
                    display: flex;
                    justify-content: center;
                    color: #4E745F;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    text-transform: uppercase;
                    margin-top: 50px;
                }
            }
        }
    }

    .right-edu {
        display: flex;
        flex-direction: column;
        width: 54%;
        align-items: flex-start;
        background-repeat: no-repeat;
        background-position: right top;

        .tilte-page {
            border-radius: 16px;
            border: 1.5px solid #3A457D;
            background: #C2C38A;
            box-shadow: 4px 4px 0px 0px #3A457D;
            display: inline-flex;
            padding: 7px 56px;
            justify-content: center;
            align-items: center;
            color: #3A457D;
            font-family: Poppins;
            font-size: 30px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        .box-content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 90%;

            .box-container {
                border-radius: 24px;
                border: 3px solid #3A457D;
                background: #FFF;
                box-shadow: 12px 10px 0px 0px #3A457D;
                width: 47%;
                margin-bottom: 40px;

                .box-header {
                    color: #3A457D;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    border-radius: 20px 20px 0px 0px;
                    border-bottom: 3px solid #3A457D;
                    background: #A3C9CA;
                    padding: 15px;
                    align-items: center;
                }

                .second {
                    background-color: #FF864D;
                }

                .box-main {
                    border-radius: 24px;
                    background: #FFF;
                    color: #3A457D;
                    font-family: Poppins;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    padding: 30px;
                    display: flex;
                    flex-direction: column;

                    p {
                        font-size: 18px;
                        font-weight: 600;
                    }

                    li {
                        margin-bottom: 12px;
                    }

                    small {
                        font-size: 14px;
                    }

                    a {
                        color: #2E96B7 !important;
                        font-size: 20px;
                    }

                    a:link,
                    a:visited {
                        color: #2E96B7 !important;
                    }

                    a:link:active,
                    a:visited:active {
                        color: #2E96B7 !important;
                    }

                    a.is-active,
                    a:active,
                    a:focus,
                    a:hover {
                        color: #2E96B7 !important;
                    }
                }
            }

            .image-box {
                width: 47%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 40px;
            }
        }
    }
}

@media only screen and (min-width: 701px) and (max-width: 1200px) {
    .main-edu {
        flex-direction: column !important;

        .left-edu {
            width: 100% !important;
        }

        .right-edu {
            width: 100% !important;
        }

        .tilte-page {
            margin-left: 0 !important;
        }
    }
}

@media only screen and (max-width: 700px) {
    .main-edu {
        flex-direction: column !important;

        .left-edu {
            width: 100% !important;
            background-image: none !important;
        }

        .right-edu {
            width: 100% !important;
        }

        .tilte-page {
            margin-left: 0 !important;
        }

        .box-content {
            flex-direction: column !important;
            width: 94% !important;
        }

        .box-container {
            width: 97% !important;
        }

        .box-header {
            font-size: 20px !important;
        }

        .time-work {
            font-size: 17px !important;
        }
    }

    .image-box{
        display: none !important;
    }
}