<div class="main-edu">
    <div class="left-edu">
        <h2 class="tilte-page">My Education</h2>
        <div class="box-container">
            <div class="box-header">
                Computer Engineering
            </div>
            <div class="box-main">
                <h3>Bachelor's degree</h3>
                Yazd University
                <p class="time-work">
                    October, 2019 - June, 2023
                </p>
            </div>
        </div>
        <div class="box-container">
            <div class="box-header">
                Mathematics
            </div>
            <div class="box-main">
                <h3>Diploma</h3>
                Sampad , Yazd
                <p class="time-work">
                    Septemper, 2014 - May, 2018
                </p>
            </div>
        </div>
    </div>
    <div class="right-edu">
        <h2 class="tilte-page">Certificate</h2>
        <div class="box-content">
            <div class="box-container">
                <div class="box-header second">
                    UI Bootcamp
                </div>
                <div class="box-main">
                    <li>Rahnema College</li>
                    <p>Group of Mentors/ Hybrid</p>
                    <p>Project: Online Shop (Coffe shop)</p>
                </div>
            </div>
            <div class="box-container">
                <div class="box-header">
                    UX Bootcamp
                </div>
                <div class="box-main">
                    <li>DesignWich</li>
                    <p>AmirRyan/ online course</p>
                    <small>(Group mentorship meeting)</small>
                    <p>Project : Online coffee bean</p>
                    <p>purchasing with doorstep delivery.</p>
                </div>
            </div>
            <div class="box-container">
                <div class="box-header">
                    UI design training course
                </div>
                <div class="box-main">
                    <li>DUXLAB Academy </li>
                    <p>Hooman Abbasi / online course</p>
                    <p>Project : Fitness application.</p>
                </div>
            </div>
            <div class="box-container">
                <div class="box-header second">
                    UX/UI design introductory course
                </div>
                <div class="box-main">
                    <li>Rahnema College</li>
                    <p>A group of Mentors| online course</p>
                    <li>DUXLab</li>
                    <p>Hooman Abbasi| online course</p>
                </div>
            </div>
        </div>
    </div>
</div>