<div class="main-container">
  <div class="main-des">
    <div class="left-container">
      <div class="describe-me">
        <h1 class="heading-title">HELLO!</h1>
        <h1 class="heading-title">I'm Mina Golshan- </h1>
        <h1 class="heading-title" style="margin-bottom: 25px;"><span>Product Designer</span></h1>
        <p class="describe-style">
          From paintbrush to pixels, my design journey led me to digital product design.
        </p>
        <p class="describe-style">
          Now, I craft experiences that not only look good, but solve user problems too.
        </p>
      </div>
      <div class="my-experience">
        <a class="show-more-detail about-me" (click)="changeStatus('me')">About Me</a>
        <a class="show-more-detail my-work" (click)="changeStatus('work')">My Work</a>
        <a class="show-more-detail my-edu" (click)="changeStatus('edu')">My Education</a>
        <a class="show-more-detail work-sample" (click)="changeStatus('sample')">
          Work Sample
        </a>
      </div>
    </div>
    <div class="right-container">
      <img class="image-mood" src="/assets/img/mood.png" alt="Mood">
      <img class="image-mood-responsive" src="/assets/img/mood.svg" alt="Mood">
    </div>
  </div>
</div>