<div class="main-work">
    <h2 class="tilte-page">Work Exprience</h2>
    <div class="main-work-container">
        <div class="left-side">
            <div class="box-detail">
                <div class="box-header">
                    3.HyvaTech (UI.UX Designer)
                </div>
                <div class="box-main">
                    <li>Designing an administrative panel for the Ostndari-Yazd.<small>(UI)</small></li>
                    <li>Redesigning a section of the Hamsaz Hiva project.<small>(UI)</small></li>
                    <li>Designing a comprehensive system for car leasing for Vafa Self-Driving
                        Holdings.<small>(UI/UX)</small></li>
                    <li>Redesigning the website of Yazd Townships Company.<small>(UI/UX)</small></li>
                    <li>Designing a Panel related to AI-based automatic contract analysis for Blu
                        Bank.<small>(UI)</small></li>
                    <p class="time-work">Jun, 2023 - Present</p>
                </div>
            </div>
        </div>
        <div class="right-side">
            <div class="box-detail">
                <div class="box-header second">
                    2.HyvaTech (Front-end Developer)
                </div>
                <div class="box-main">
                    <li>WordPress website design for the company's personal client</li>
                    <li>Front-end development with Edux title on a OpenEDX platform</li>
                    <li>Front-end development of a BourseTalent site</li>
                    <p class="time-work">
                        Aug, 2021 - Feb,2023
                        <small style="margin-top: -3px; margin-left: 10px;">(1yr,7mos)</small>
                    </p>
                </div>
            </div>
            <div class="box-detail">
                <div class="box-header third">
                    1 . Baloot Studio (SocialMedia Designer)
                </div>
                <div class="box-main">
                    <li>Producing text and image content on Instagram pages of Khayatbashi and Sofrechi</li>
                    <li>Managing the content of the studio's WordPress site</li>
                    <p class="time-work">
                        Dec, 2020 - Aug,2021
                        <small style="margin-top: -3px; margin-left: 10px;">(9mos)</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- <img src="/assets/img/clock.svg"> -->
</div>